*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.jumbotron{
  padding-top: 2rem;
  background-color: rgb(238, 238, 238);
}
p{
  font-size: 20px;
}
#about .container p{
  font-size: 16px;
  text-align: justify;
}
#about span{
  font-size: 20px;
}
.card img{
  padding: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-text{
  font-size: 16px;
}
hr{
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: auto;
}
h2{
  margin-bottom: 10px;
}
#project{
  margin-bottom: 10px;
}
i{
  color: #eee;
}
#contact .container{
  list-style: none;
}
#contact .container span{
  color: #eee;
}
#contact .container-fluid{
  width: 100%;
}
#contact .container{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#contact h2{
  margin-bottom: 25px;
}
#contact .container-fluid .container .icon{
  position: relative;
  font-size: 50px;
  margin-right: 10px;
  display: block;
}
#contact .container-fluid .container span{
  font-size: 16px;
}
#contact svg{
  margin-top: -100px;
  margin-bottom: 0;
}
#cv .card{
  width: 50%;
  border: transparent;
  justify-content: center;
  align-items: center;
}
#cv .container{
  margin-top: 100px;
}
#footer .kotak{
  width: 100px;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}
#footer .kotak span{
  position: relative;
  justify-content: center;
  align-items: center;
}
#cv .btn{
  width: 150px;
  margin: 10px 10px;
}
@media (max-width : 600px){
  #contact .container-fluid{
    margin-top: -20px;
  }
  #cv .container{
    margin-bottom: 50px;
  }
  #about .container-fluid{
    margin-top: -10px;
    margin-bottom: -10px;
  }
  #cv .card{
    width: 50%;
    border: transparent;
    justify-content: center;
    align-items: center;
  }
}
#project .card-text{
  height: 120px;
}
#project .row{
  justify-content: center;
  align-items: center;
}